.registers-area {
    width: 20%;
    height: 80vh;
}
.registers-area h4 {
    font-weight: 700;
    color: var(--color-text-normal);
    font-size: 12px;
}

.registers-area > .registers-header {
    width: 100%;

    display: flex;
    justify-content: space-between;
}
.registers-area > .registers-header > .user-details {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.registers-area > .registers-header > .user-details > small {
    font-weight: 300;
    color: var(--color-text-ultralight);
    margin-top: 4px;
}

.registers-area > .registers-body {
    margin-top: 16px;
}

.registers-area > .registers-footer {
    margin-top: 16px;
    flex: 1;

    display: flex;
    flex-direction: column;
}
.registers-area > .registers-footer > .registers-days {
    width: 100%;
    flex: 1;

    overflow: auto;
    margin-top: 16px;
}